/*------------------------------------ ABOUT UMRAHAJJ CSS HOME PAGE---------------------------------------------------- */
.content-home-1 {
    background-image: url("../images/background_putihmiring1.png");
    background-size: 130%;
    background-repeat: no-repeat;
    height: 122vh;
    position: relative;
    margin-top: -10%;
    margin-left: -59px;
  }
  
  /*------ START IMAGE KUBBAH ABOUT HOME PAGE ------ */
  
  .masjid_kabbah {
    margin-top: 100px;
  }
  
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  
  .about h1 {
    color: #24565c;
    font-weight: bold;
    font-size: 50px;
    margin-top: 70px;
  }
    
  .hr_sendiri{
    margin-top: -4%;
    width: 30%;
    color: #26b9cb;
    border-top: 6px solid;
    margin-left: 402px;
  }
  
  .tulisan {
    font-size: 18px;
  } 
 
  .image-content2 {
    display: -webkit-box;
    text-align: center;
  }  
  
  /*------ END IMAGE KUBBAH ABOUT HOME PAGE ------ */
  
  
  /*------------- START ABOUT IMAGE HOME PAGE-----------------  */
   
  .image-content2 .img2 {
    margin-left: 42px;
    height: 15vh;
  }
  
  .image-content2 .img1 {
    margin-left: 42px;
    height: 15vh;
  }
  
  .image-content2 .img3 {
    margin-left: 28px;
    height: 15vh;
  }
  
  
  /*-------------END START ABOUT IMAGE HOME PAGE-----------------  */
  
  /*----------------------------------------- ABOUT UMRAHAJJ CSS HOME PAGE -------------------------------------------------*/
  
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 377px) and (max-width: 500px ){

    .about h1 {
      font-size: 23px;
      margin-left: 269px;
      margin-top: 71px;
    }

    .hr_sendiri {
      margin-top: 2%;
      width: 80%;
      color: #26b9cb;
      border-top: 4px solid;
      margin-left: -57px;
    }  

    .tulisan {
      font-size: 14px;
      text-align: right;
    }
    
  .image-content2 .img1 {
    margin-left: 17%;
    width: 12%;
    margin-top: 1%;
    position: absolute;
}

.content-home-1 {
  background-image: url(/static/media/background_putihmiring1.d9d1d464.png);
  background-size: 324%;
  background-repeat: no-repeat;
  height: 122vh;
  position: relative;
  margin-top: -18%;
  margin-left: -59px;
} 

.image-content2 .img3 {
  margin-left: 75%;
  width: 17%;
  margin-top: 1%;
  position: absolute;
}

.image-content2 .img2 {
  margin-left: 46%;
  width: 13%;
  margin-top: 0%;
  position: absolute;
  height: 55px;
}



}   