.jumbotron2 {
  color: inherit;
  background-image: url("../images//5430.png");
  background-size: cover;
  margin-top: -193px;
  height: 100vh;

}

.jumbotron2 .container {
  max-width: 100%;
}

.jumbotron2 .hr_sendiri1 {
  margin-top: -21%;
  width: 100%;
  color: #26b9cb;
  border-top: 6px solid;
  margin-left: 172px;
}

.jumbotron2  h1 {
  font-size: 41px;
  color: #24565c;
  margin-left: 717px;
  margin-top: 200px;
  position: absolute;
}

.device {
  margin: auto;
  position: relative;
  height: 91vh;
  width: 359px;
  background-size: 69%;
  background: url("../images/phone.png");
  background-repeat: no-repeat;
  margin-left: 102px;
  margin-top: 102px;
}

@media screen and (max-width: 768px) {
  
.device {
  width: 286px;
  min-height: 550px;
  background-size: 100%;
  margin-left: auto;
}   

}  

@media screen and (max-width: 768px) {

  .device .device-content {
  left: 43px;
  width: 200px;
  top: 89px;
  height: 359px;
}

}
  
@media screen and (max-width: 768px) {

.device .device-content img {
  width: 200px;
  height: 359px; 
}

}

.device .device-content img {
  width: 247px;
  height: 410px; 
}

.device .device-content {
  position: absolute;
  top: 63px;
  left: 26px;
  width: 232px;
  height: 58px;
  background: rgba(0, 0, 0, 0.3);
}

  
.device .device-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.device
.device-content
.showcase-slider
.flickity-page-dots {
  bottom: 20px;
}  

.image-content img {
margin-left: 60%;
width: 50%;
margin-top: -133%;
}
          
.image-content .img1 {
margin-left: 148%;
width: 80%;
margin-top: -133%;
}

.image-content .img2 {
margin-left: 243%;
width: 80%;
margin-top: -99%;
}
      
.image-content .img3 {
margin-left: 336%;
width: 80%;
margin-top: -99%;
}
        
