 /*----------------- START FOOTER CSS -----------------*/
  
footer {

    background: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    height: 100vh;
}

footer .menufirst1{

    padding-left: 83px;
}
  
footer .menu {

    list-style: none;
    text-decoration-line: none;
    margin-top: 310px;
    text-align: left;  
}

footer .subscribe{
    margin-top: 310px;  

}
  
footer .menu li a {
    color: white;
    text-decoration-line: none;
}
  
/* footer .menu li:nth-of-type(1) a {
    font-weight: 900;
} */


.subscribe form .form-control {
    margin-left: 12px;
    margin-top: 5px;
    width: 60%;
}

.subscribe form .btn3 {
    margin-top: -66px;
    margin-left: 64%;
    background-color: #ffffff;
    color: #128e9d;
    padding: 7px 16px;
    font-weight: bold;
}
  .footer-bold {
    color: white;
  }

  .footer-p {
    color: white;
    width: 65%;
  }

  .download-icon b{
    color: white;
    margin-top: -30px;
  }
  
  
  footer .googleplay{
    margin-top: -48px;
    width: 38%;
  }
  
  footer .iosstore{
    margin-top: 18px;
    margin-left: 180px;
    width: 35%;
  }

  footer .footer-bottom p {
    color: #ffffff;
    padding-top: 45px;
  }

  .footer-bottom .icon-footer-botom{
    float: right;
    padding-top: 40px;
  }

  .svg-inline--fa {

    display: inline-block;
    font-size: inherit;
    overflow: visible;
    vertical-align: -.125em;
    color: white;
  }

footer .svg-inline--fa.fa-w-14 {
    width: 1.875em;
}
  

  @media screen and (min-width: 320px) and (max-width: 339px) {
  
 
  footer .menufirst{
      padding-left: 83px;
      margin-top: -65px;
  }
  
  footer .menufirst1{
      padding-left: 83px;
      margin-top: -290px;
  }
  
  footer .menufirst2{
      padding-left: 83px;
      margin-top: -313px;
  }
  
  footer .menufirst3{
      padding-left: 83px;
      margin-top: -319px;
  }
  
  footer .menufirst4{
      padding-left: 83px;
      margin-top: -314px;
  }
  
}
 