.homepage-instagram h1 {
    color: white;
    font-size: 2.25em;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 2em;
  
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    margin-left: -29px;
}

  .carousel-cell77 img{
    margin-left: 80px;
    height: 300px;
    width: 300px;
   }

  .homepage-instagram{
    background-image: url("../images/background_home1.png");
    height: auto;
    text-align: center;
}

.logo-instagram .callme3{
    color: white;
    margin-top: 5%;
    text-align: center;
  }
  
.homepage-instagram  svg:not(:root).svg-inline--fa {
    overflow: visible;
    height: 60px;
}

.homepage-instagram .svg-inline--fa.fa-w-14 {
    width: 3.875em;
}

.logo-instagram .callme2{
    color: white;
    margin-left: -1%;
    margin-top: 2%;
    font-weight: bold;
    font-size: 20px;
  }

  .homepage-instagram .slick-next {
    right: 1%;
}

  .homepage-instagram .slick-prev {
    left: 94%;
}

  .homepage-instagram .slick-next, .slick-prev {
    top: 106%;
}


@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
}



