.homepage-newsroom h3 {
    color: #dcb24e;
    font-weight: 600;
    margin-bottom: 2%;
    font-size: 35px;
  }

.homepage-newsroom .slick-next {
    right: 1%;
}

.homepage-newsroom .slick-prev {
  left: 95%;
}

.homepage-newsroom .slick-next, .slick-prev {
  top: 106%;
}


@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
}


.homepage-newsroom 
.newsroom-text1 {
  background-color: #128e9d;
  border-radius: 0 0 8px 8px;
  height: 30vh;
  margin-left: 20px;
  margin-top: -157px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  border-color: #128e9d;
  position: relative;
  text-decoration: none;
  width: 300px;
}

.carousel-cell22 p {
    position: relative;
    font-size: 12px;
    color: white;
    padding-left: 5px;
  }

  .carousel-cell22 h1 {
    position: relative;
    font-size: 18px;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .carousel-cell22 .newsroom-text2 {
    text-decoration: underline;
  }

  .carousel-cell22 img{
    height: 300px;
    margin-left: 20px;
    width: 300px;
   }
   
  .carousel-cell22 a:hover {
    color: #0056b3;
    text-decoration: none;
}
