.button2 {
    margin-top: 308px;
}

.slider-content-home {
    width: 100%;
}

.slider-content-home 
.carousel-indicators { 
    position: absolute;
    right: 0;
    bottom: 100px;
    left: -190px;
    z-index: 15;
    display: list-item;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}


  .slider-content-home  .carousel-indicators li  {
        display: list-item;
        width: 10px;
        height: 10px;
        margin: 10px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 10px;
    }

    .slider-content-home .carousel-indicators .active {
        background-color: #26b9cb;
        display: list-item;
    }

    @media screen and (min-width: 377px) and (max-width: 500px ){
    .slider-content-home{
        margin-top: 119px;
    }

}    