.button2 {
    margin-top: 308px;
}

.image00 {
     width: 100%;
}

.slider-content-home 
.carousel-indicators { 

    position: absolute;
    right: 0;
    top: 645px;
    left: -160px;
    z-index: 15;
    display: list-item;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}


  .slider-content-home  .carousel-indicators li  {
        display: list-item;
        width: 10px;
        height: 10px;
        margin: 10px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 10px;
    }

    .slider-content-home .carousel-indicators .active {
        background-color: #26b9cb;
        display: list-item;
    }